/* Stili per la navbar con hamburger menu */
.navbar-container {
  position: relative;
  width: 100%;

}

.navbar {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.logo {
  font-size: 1.25rem;
  font-weight: 700;
}

.navbar-toggler {
  background: none;
  border: none;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.navbar-toggler:focus {
  outline: none;
}

/* Menu a discesa */
.menu-dropdown {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  max-height: 0;

  opacity: 0;
}

.menu-dropdown.open {
  max-height: 300px;
  opacity: 1;
  
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.navbar-item {
  margin: 5px 0;
  text-align: center;
}

.navbar-link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.navbar-link:hover {
  color: #ff7f50;
}

/* Questo garantisce che il menu si chiuda correttamente quando non è visibile */
@media (min-width: 768px) {
  /* Stili opzionali per desktop se vuoi un layout diverso */
  .navbar-nav {
    flex-direction: row;
  }
  
  .navbar-item {
    margin: 0 15px;
  }
}